<div class="shared-page-wrapper">
  <div class="shared-page-title">
    <h2><%= "「#{@p.message_cont}」の検索結果" %></h2>
    <p>自由に情報を共有しよう！</p>
    <div class="keyword-get-area">
      <%= search_form_for @p, url: messages_search_path do |form| %>
        <%= form.search_field :message_cont, placeholder: "キーワードを入力" %>
        <%= form.submit "検索" %>
      <% end %>
    </div>
  </div>

  <div class="shared-area-wrapper">
    <div class="shared-area">
      <% @results.each do |result| %>
        <div class="message-text-area">
          <div class="message-text-image">
            <div class="message-text">
              <%= result.message %>
            </div>
            <% if result.image.attached? %>
              <div class="message-image-right">
                <%= link_to url_for(result.image) do %>
                  <%= image_tag result.image, class: 'message-image' %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="bottom-area">
          <div class="border-area-left">
            <p class="user-name">
              <%= "#{result.user.nickname}さんの投稿" %>
            </p>
          </div>
          <div class="border-area-right">
            <p class="ceated-at">
              <%= l result.created_at %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-form-area">
    <%= form_with model: @message, local: true do |form| %>
      <div class="text-form-top">
        <%= form.text_area :message, placeholder: "メッセージを共有する(※500文字まで)", class: "text-form", maxlength:"500" %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= form.file_field :image, class: 'hidden' %>
        </label>
      </div>
      <div class="text-form-bottom">
      <%= form.submit "投稿", class: "btn input-form-btn" %>
      </div>
    <% end %>
  </div>
</div>