<%= form_with model: current_user, local: true do |f| %>
  <div class="user-registration-wrapper">
    <div class="user-registration-title-wrapper">
      <div class="user-registration-title-container">
        <h2 class="user-registration-title">プロフィール内容変更</h2>
      </div>
    </div>

    <div class="user-registration-form-wrapper">
      <div class="user-registration-form-container">
        <div class="user-registration-avatar-area">
          <div class="user-registration-avatar">
            <div class="user-registration-avatar-icon" id="image-list">
              <% if current_user.id == @user.id && @user.avatar.attached? %>
                <%= image_tag @user.avatar, class: 'avatar-icon' %>
              <% else %>
                <%= image_tag "https://krwsjapan.conohawing.com/wp-content/uploads/2020/11/Screenshot_at_Nov_06_23-58-09-removebg-preview.png", class: 'avatar-icon' %>
              <% end %>
            </div>
            <label class="form-avatar-image">
              <span class="avatar-image">プロフィール画像を選択</span>
              <%= f.file_field :avatar, class: 'hidden' %>
            </label>
          </div>
        </div>
        <div class="user-registration-input-area">
          <div class='user-registration-flash-message'>
            <%= devise_error_messages! %>
          </div>

          <div class="user-registration-input-form">
            <div class="user-registration-induction-text">
              <label class="induction-text">ニックネーム</label>
              <span class="mandatory">(必須)</span>
            </div>
            <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"例) 山田太郎(ヤマダタロウ)", maxlength:"40" %>
          </div>

          <div class="user-registration-input-form">
            <div class="user-registration-induction-text">
              <label class="induction-text">メールアドレス</label>
              <span class="mandatory">(必須)</span>
            </div>
            <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
          </div>

          <div class="user-registration-input-form">
            <div class="user-registration-induction-text">
              <label class="induction-text">現在のパスワード</label>
              <span class="mandatory">(必須)</span>
            </div>
            <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字"  %>
          </div>

          <div class="user-registration-input-form">
            <div class="user-registration-induction-text">
              <label class="induction-text">新しいパスワード</label>
              <span class="mandatory">(必須)</span>
            </div>
            <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
            <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
          </div>

          <div class="user-registration-input-form">
            <div class="user-registration-induction-text">
              <label class="induction-text">確認用パスワード</label>
              <span class="mandatory">(必須)</span>
            </div>
            <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
          </div>

        </div>

        <div class="user-registration-submit-area">
          <%= f.submit "内容を更新" ,class:"user-registration-btn" %>
        </div>
      </div>
    </div>

    <div class="user-registration-bottom-wrapper">
    </div>
  </div>
<% end %>