<%= render partial: "follow", locals: {controller: :users, action: :follow_list,user_id: @user.id} %>

<% if current_user.id == @user.id %>
  <%= @user.follow_count %>
    <%= link_to "人のフォロー", {controller: :users, action: :follow_list,user_id: @user.id}, method: :get %>
  <%= @user.followers_count %>
    <%= link_to "人のフォロワー", {controller: :users, action: :follower_list,user_id: @user.id}, method: :get %>
<% end %>

<% unless @user.id == current_user.id %>
  <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>
    <% if @is_room == true %>
      <p class="user-show-room"><a href="/rooms/<%= @room_id %>" class="btn btn-primary btn-lg">チャットへ</a>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>