<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
  <div class="user-session-wrapper">
    <div class="user-session-title-wrapper">
      <div class="user-session-title-container">
        <h2 class="user-session-title">ログイン</h2>
      </div>
    </div>

    <div class="user-session-form-wrapper">
      <div class="user-session-form-container">
        <div class="user-session-input-area">
          <div class="test">
            <div class="user-session-input-form">
              <div class='user-session-induction-text'>
                <label class="induction-text">メールアドレス</label>
                <span class="mandatory">必須</span>
              </div>
              <%= f.email_field :email, class:"session-input-default", id:"email", placeholder:"", autofocus: true %>
            </div>

            <div class="user-session-input-form">
              <div class='user-session-induction-text'>
                <label class="induction-text">パスワード</label>
                <span class="mandatory">必須</span>
              </div>
              <%= f.password_field :password, class:"session-input-default", id:"password", placeholder:"" %>
            </div>
          </div>
        </div>
        <div class="user-session-submit-area">
          <%= f.submit "ログイン" ,class:"user-session-btn" %>
        </div>
      </div>
    </div>

    <div class="user-session-bottom-wrapper">
      <div class="user-session-link">
        <%= link_to '※ゲストログイン', users_guest_sign_in_path, method: :post, class: "guest-user" %>
        <%= link_to "※新規登録はこちら", new_user_registration_path, class: "new-user" %>
      </div>
    </div>
  </div>
<% end %>