<div class="chat-room-wrapper">
  <div class="chat-room-header">
  </div>

  <div class="room-container">
    <div class="room-container-child">

      <div class="room-container-child-left">
        <div class="left-room-top">
          <%= @current_user.nickname %>
        </div>
        <div class="left-room">
          <ul class="room-user-lists">
            <li>

            </li>
          </ul>
        </div>
      </div>

      <div class="room-container-child-right">
        <div class="right-room-top">
        </div>
        <div class="right-room">
          <div class="right-room-child">
            <% if @chats.present? %>
              <% @chats.each do |c| %>
                <div class="chat-room-user-content" >
                  <%= c.user.nickname %><br>
                  <%= c.content %><br>
                  <%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="right-room-bottom">
          <%= form_with model: @chat, local: true do |f| %>
            <div class="chat-room-form-left">
              <%= f.text_field :content, placeholder: "メッセージを入力(※200文字まで)", class: "chat-room-text-form", maxlength: "200" %>
              <%= f.hidden_field :room_id, value: @room.id %>
              <div class="chat-room-form-right">
                <%= f.submit "投稿", class: "chat-room-input-btn" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>