<!DOCTYPE html>
<html>

  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-wrapper">
        <div class="site-title">
          <h1><a href="/"><span>artkey<span></a></h1>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="footer-wrapper">
        <div class="site-year">
          Copyright artkey 2020.
        </div>
      </div>
    </footer>
  </body>

</html>